<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th=”http://www.thymeleaf.org”
      layout:decorate="~{base.html}">
<head>
    <title th:text="${pageTitle}"></title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${pageTitle}"></h2>
    <hr>
    <div class="row">
        <form class="col" autocomplete="off" action="#" th:action="@{/create}" th:object="${userDto}" method="post">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputLogin">Login</label>
                        <input class="form-control" id="inputLogin" aria-describedby="loginHelp"
                               placeholder="Enter login"
                               th:classappend="${#fields.hasErrors('login')} ? is-invalid : ''"
                               type="text" th:field="*{login}"/>
                        <small id="loginHelp" class="form-text text-muted">Will be checked to be unique</small>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login
                            is invalid
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" autocomplete="off" id="inputPassword" aria-describedby="loginHelp"
                               placeholder="Enter password"
                               th:classappend="${#fields.hasErrors('password')} ? is-invalid : ''"
                               type="password" th:field="*{password}"/>
                        <small id="passwordHelp" class="form-text text-muted">Has to be 9 character long</small>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            Password
                            is invalid
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputFirstName">First name</label>
                        <input class="form-control" id="inputFirstName" placeholder="Enter first name"
                               type="text" th:field="*{firstName}"/>
                    </div>

                    <div class="form-group">
                        <label for="inputLastName">Last name</label>
                        <input class="form-control" id="inputLastName" placeholder="Enter last name"
                               type="text" th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Birth date</label>
                        <input class="form-control" id="inputBirthDate"
                               placeholder="Enter birth date"
                               type="date" th:field="*{birthDate}"/>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input class="form-control" id="inputAddress"
                               placeholder="Enter address"
                               type="text" th:field="*{address}"/>
                    </div>

                    <div class="form-group">
                        <label for="inputAboutMe">About me</label>
                        <textarea class="form-control" id="inputAboutMe"
                                  placeholder="Write something about yourself :)"
                                  type="text" th:field="*{aboutMe}"></textarea>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit"/>
            <a th:href="@{'/'}">Cancel</a>
        </form>
    </div>
</div>
</body>
</html>