<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th=”http://www.thymeleaf.org”
      layout:decorate="~{base.html}">
<head>
    <title>Users list</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card row">
        <div class="card-body">
            <h5 class="card-title" th:text="'Login: ' + ${userDto.login}"></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="'First name: ' + ${userDto.firstName}"></li>
            <li class="list-group-item" th:text="'Last name: ' + ${userDto.lastName}"></li>
            <li class="list-group-item" th:text="'About me: ' + ${userDto.aboutMe}"></li>
            <li class="list-group-item" th:text="'Address: ' + ${userDto.address}"></li>
            <li class="list-group-item"
                th:text="'Birth date: ' + ${#dates.format(userDto.birthDate, 'dd-MM-yyyy')}"></li>
        </ul>
        <div class="card-body">
            <a th:href="@{'/' + ${userDto.id} + '/edit'}" class="card-link">Edit</a>
            <a th:href="@{'/' + ${userDto.id} + '/delete'}" class="card-link">Delete</a>
        </div>
    </div>
</div>
</body>
</html>